body{
background-color: black;
overflow-x:hidden;
overflow-y:hidden;
}
.heading {
    text-align: center;
    background: linear-gradient(to top left, yellow, rgb(255, 0, 217));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    height:75vh;
    width:99vw;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    color:rgb(243, 16, 201);
    font-family: cursive;
    font-size: 20px;
}

.pictures{
    height:200px;
    width:650px;
    display:flex;
    gap:25px;
    justify-content: center;

}
.pictures img{
    height:150px;
    width:150px;
}
.pict{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
}

#rock{
    background:rgb(225, 13, 24);
    position:relative;
    overflow:hidden;
}
#rock img{
    position:relative;
    z-index:1;
}
#rock:hover::before{
    width:1200px;
    height:1200px;
}
#rock::before{
    content:"";
    background-color: rgb(149, 11, 11);
    position:absolute;
    width:0px;
    height:0px;
    top:var(--posy);
    left:var(--posx);
    transform:translate(-50%,-50%);
    border-radius:50%;
    transition:width 0.75s,height 0.75s;   
}
#paper{
    background-color:rgb(214, 235, 25);
    position:relative;
    overflow:hidden;  /*removes the extra content i.e hides the overflowing content */
}
#paper:hover::before{
    width:1200px;
    height:1200px;
}
#paper img{
    position:relative;
    z-index:1;/*gives priority to the image that it should be above*/
}
#paper::before{ /*CSS pseudo element that allows you to insert content before the actual cantent of a HTML element*/
    content:"";
    background:#f3c232;
    width:0px;
    height:0px;
    position :absolute;
    /* top:50px; */
    /* left:50px;left and top makes the corner of that pink box in middle */
    top:var(--posy);/*posy is accessed from js,mouse hover location*/
    left:var(--posx);/*posx is accessed from js,mouse hover location*/
    transform:translate(-50%,-50%); /*adjusts the centre of box in the middle*/
    border-radius:50%;
    transition:width 0.75s,height 0.75s;


}
#scissor{
    background-color:rgb(17, 244, 44);
    position:relative;
    overflow: hidden;
}
#scissor img{
    position:relative;
    z-index:1;
}
#scissor:hover::before{
    width:1200px;
    height:1200px;
}
#scissor::before{
    content:"";
    background-color: rgb(8, 82, 2);
    position:absolute;
    width:0px;
    height:0px;
    top:var(--posy);
    left:var(--posx);
    transform:translate(-50%,-50%);
    border-radius:50%;
    transition:width 0.75s,height 0.75s;   
}

.hide{
    display:none;/*hiding the winner mssg beforehand*/
}
.result{
    display:flex;
    gap:15px;
}
@media(max-width:530px){
    *{
        font-size: 18px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .details
    {
        margin-top:50px;
    }
    .container{
        display:flex;
        gap:14px;
        
    }
    .pictures{
        display: flex;
        flex-direction: column;
        width:50px;
        gap:2px;
        
    }
    .pictures img{
        height:80px;
        width:80px;
    }
    .result{
        gap:2px;
    }

}
@media((min-width:100px) and (max-width:200px)){
*{
    font-size: 12px;
}
}

